.ala-doughnut-legend ul { list-style: none;  list-style-type: none; }
.ala-doughnut-legend ul li { list-style: none;  list-style-type: none; }
.ala-doughnut-legend li span { width: 5px; height:30px; padding-left:10px; padding-right:10px; margin-right:10px; border-radius: 5px;} 